---
import "../../styles/global.css";
import { loadQuery } from "../../shared/load-query";
import type { Post } from "../../../studio/sanity.types";

const { data: posts } = await loadQuery<Post[]>({
	query: `*[_type == "post"]{
		title,
		slug
	}`,
});
//	TODO add to global variables per environment
const baseUrl = `http://localhost:4321/posts/`;
---

<div class="post-list-container">
	<h1>News from our front</h1>
	{posts.map((x) => <a href={`${baseUrl}${x.slug?.current}`}>{x.title}</a>)}
</div>

<style>
	h1 {
		text-align: center;
		font-size: 100px;
	}
	.post-list-container {
		margin: 10px 20% 0 20%;
		padding: 20px 20px 20px 20px;
		border: solid 2px lightgray;
		box-shadow: 0px 3px 4px lightgray;
		height: 100vh;
	}
</style>
