---
import "../../styles/global.css";
import { loadQuery } from "../../shared/load-query";
import type { Post } from "../../../studio/sanity.types";
import Layout from "../../layouts/Layout.astro";

const { data: posts } = await loadQuery<Post[]>({
	query: `*[_type == "post"]{
		title,
		slug
	}`,
});
//	TODO add to global variables per environment
const baseUrl = `http://localhost:4321/posts/`;
---

<Layout>
	<div class="shadow-md">
		<h1>News from our front</h1>
		{
			posts.map((x) => (
				<a href={`${baseUrl}${x.slug?.current}`}>{x.title}</a>
			))
		}
	</div>
</Layout>

<style>
	h1 {
		text-align: center;
		font-size: 100px;
	}
</style>
