---
import "../styles/global.css";
---

<div class="flex justify-between mx-10">
	<a href="/home">Home</a>
	<a href="/news">News</a>
	<a href="/election-info">Election Info</a>
	<a href="/contribute">Contribute</a>
	<a href="/about-us">About us</a>
</div>
<div class="flex justify-between mx-10">
	<address>100 Street Address, New Town, PA 11111</address>
	<a href="tel:8817884658">881-788-4658</a>
</div>
