---
import { Navbar } from "@/components/islands/navbar";
import FlagSVG from "../components/FlagSVG.astro";
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div
      class="navbar-container w-screen fixed top-0 z-1 bg-white border-blue-900"
    >
      <Navbar client:idle />
      <div class="flex flex-wrap justify-between sm:flex-nowrap">
        <address class="w-[100%] sm:w-auto">
          100 Street Address, New Town, PA 11111
        </address>
        <a href="tel:8817884658" class="me-5">881-788-4658</a>
      </div>
    </div>
    <div class="mx-8 pt-[100px] sm:pt-[70px]">
      <div class="shadow-md mx-[10%] p-5">
        <slot />
      </div>
    </div>
    <div class="h-screen fixed w-[10%] top-[85px] sm:top-[60px]">
      <FlagSVG />
    </div>
    <div
      class="h-screen fixed w-[10%] top-[85px] sm:top-[60px] right-0 scale-x-[-1]"
    >
      <FlagSVG />
    </div>
  </body>
</html>
<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .navbar-container {
    border-bottom-style: solid;
    border-bottom-width: 5px;
  }
</style>
